@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";
* {
  font-family: "Tajawal", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
